.list-detail-component {
  &.loading {
    background: url(/images/loader.gif) no-repeat center center #fff;
    background-size: 21%;
    width: 100%;
    height: 100%;
    border: 1px dashed #cbcbcb;
    .itinerary,
    .itinerary-price {
      visibility: hidden;
    }
  }
  @media (min-width: 800px) {
    &.loading {
      background-size: 100px;
    }
  }
  min-height: 190px;
  background: #fff;
  border-radius: .5em;
  padding: 10px 12px 12px 12px;
  box-shadow: 1px 2px 4px 0px #cbcbcb;
  margin-bottom: 18px;
  .itinerary {
    &.to {
      margin-top: 12px;
    }
    font-weight: bold;
    .logo {
      display: inline-block;
      max-width: 60px;
      min-width: 25px;
      height: 25px;
      margin-right: 7px;
      overflow: hidden;
      vertical-align: top;
      img {
        // width: 25px; // for testing only
        max-width: 60px;
        min-width: 25px;
      }
    }
    .direction {
      margin: 0 13px 0 5px;
    }
    .leg {
      display: inline-block;
      .time {
        display: block;
      }
      .location {
        color: #b2aebd;
      }
    }
  }
  .steps-group {
    display: block;
    float: right;
    text-align: right;
    font-size: 0.9em;
    font-weight: normal;
    .duration {
      display: block;
    }
    .steps {
      display: block;
      color: #28a745;
    }
  }
  .itinerary-price {
    margin-top: 9px;
    .price-record {
      width: 70%;
      float: left;
      .price {
        font-size: 2em;
        display: inline-block;
        position: relative;
        bottom: -6px;
      }
      .url {
        display: block;
        color: #b8b8b8;
      }
    }
    .call-to-action {
      float: right;
      display: inline-block;
      button {
        color: #fff;
        margin-top: 7px;
        margin-right: -5px;
        outline: none;
        cursor: pointer;
        background-color: #28a745;
        border-color: #ffffff;
        border-radius: 2rem;
        padding: 5px 27px;
        border: solid 0.3em #fff;
        background: linear-gradient(#53e474, #28a745);
        /* Experiemental
        &.button_1 {
          @include bpk-button;
          &:hover {
            @include bpk-hover;
          }
        }*/
      }
    }
  }
}