.hamburger-menu {
  height: auto;
  width: 50px;
  cursor: pointer;
  div {
    height: 8px;
    width: 100%;
    margin-bottom: 7px;
    background: #00b2d6;
    &:last-child {
      margin-bottom: 0;
    }
  }
}