.flight-information {
  width: 100%;
  height: 90px;
  font-size: 2.7em;
  color: #fff;
  background-color: #00b2d6;
  font-size: 3em;
  padding: 25px 15px 15px 11px;
  .arrow {
    img {
      margin-bottom: 8px;
      display: inline-block;
    }
  }
  .person-class {
    padding: 5px 0 0 4px;
    font-size: 0.3em;
    display: block;
  }
}