.ui-controls {
  height: 50px;
  font-size: 1.5em;
  color: #00b2d6;
  padding: 12px 19px 0 18px;
  span {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    &:first-child {
      margin-right: 25px;
    }
    &.price-alerts {
      float: right;
    }
  }
}